.main-container {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    padding: 3rem;
    height: fit-content;
    width: calc(100% - 6rem);
    gap: 2rem;
    overflow: auto;
}

.footer-upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5rem;
}

@media (min-width: 768px) {
    .main-container {
        padding: 5rem;
        width: calc(100% - 10rem);
    }
    .footer-upper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;   
    }
}