body {
    margin: 0;
    min-height: 100svh;
    background-color: #131314;
    color: white;
    user-select: none;
    font-family: monospace;
}

footer {
    background-color: #1b1b1b;
    /*height: 13rem;*/
}