.dropdown-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    line-height: 1.2;
}

.select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: var(--border-radius);
    border: var(--border);
    border-color: var(--border-color);
    transition: 0.2s;
}

.option-value {
    flex-grow: 1;
}

.arrow {
    padding: 0.2rem;
    height: fit-content;
    transition: 0.2s;
}

.arrow-up {
    rotate: -135deg;
}

.arrow-down {
    rotate: 45deg;
}

.option-wrapper {
    display: flex;
    position: absolute;
    transition: 0.2s;
}

.option {
    background-color: var(--background-color);
    transform: var(--option-offset);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s, border 0s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option:hover {
    background-color: var(--hovered-option-highlight-color);
}

.extend {
    transform: translate(0);
    opacity: 1;
    pointer-events: auto;
}

.test {
    top: calc(1.5rem + 1.25em + 13ch + (100% - 20rem - ((1) / 2)));
    bottom: calc(1.5rem + 1.25em + 13ch + (100% - (((1.5rem * 4) 1.25em + 13ch + 4ch + 13ch + 2.3rem)) / 2))
}