.dropdown-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
}

.select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
}

.arrow {
    padding: 0.2rem;
    height: fit-content;
    transition: 0.2s;
}

.arrow-up {
    rotate: -135deg;
}

.arrow-down {
    rotate: 45deg;
}

.option-wrapper {
    display: flex;
    position: absolute;
    transition: 0.2s;
    z-index: 1;
}

.option {
    background-color: var(--background-color);
    transform: translateY(var(--offset-y)) translateX(var(--offset-x));
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option:hover {
    background-color: var(--hovered-highlight-color);
}

.extend {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}