.dropdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
}

.select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    /*min-width: 5rem;*/
    gap: 0.5rem;
    z-index: 2;
}

.arrow {
    padding: 0.2rem;
    height: fit-content;
    transition: 0.2s;
}

.arrow-up {
    rotate: -135deg;
}

.arrow-down {
    rotate: 45deg;
}

.option-wrapper {
    width: 92%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(1.2em + 1rem);
    transition: 0.2s;
    z-index: 1;
}

.option {
    background-color: var(--background-color);
    padding: 0.5rem;
    transform: translateY(var(--offset));
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option:hover {
    background-color: var(--hovered-highlight-color);
}

.extend {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.option:last-of-type {
    border-radius: 0 0 0.3rem 0.3rem;
}